html h1, h2, h3, h4, h5, h6, p {
  color: #000;
}

body {
  font-family: "Lato", "HelveticaNeue", Helvetica, sans-serif;
  background: #ECDECB;
  background-position:center;
  background-attachment: fixed;
}


.individual-link {
  border-bottom: 1px solid white;
}

.message, .link, .sent-from {
  display: block;
  margin-left: 40px;
}

.link a {
  color: #FFF;
  text-decoration: underline;
}

.usernames {
  display: block;
  padding: 5px;
  color: #FFF;
  font-size: 1.5em;
}

.row {
  width: 80%;
}

.top-bar {
  background: #4E3C51;
}

.top-bar-section li:not(.has-form) a:not(.button), .top-bar-section .has-dropdown .not-click {
  background: #4E3C51;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: #4E3C51;
  color: #21A68D;
  border-bottom: 5px solid #21A68D;
  margin-bottom: -5px;
}

.your-questions {
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
  float: right;
  width: 100%;
}
