html h1, h2, h3, h4, h5, h6, p {
  color: #000;
}

body {
  font-family: "Lato", "HelveticaNeue", Helvetica, sans-serif;
  background: #EBE3E0;
  background-position:center;
  background-attachment: fixed;
}

.message, .link, .sent-from {
  display: block;
}

.link a {
  color: #F25749;
  text-decoration: underline;
}

.usernames {
  display: block;
  padding: 5px;
  color: #FFF;
  font-size: 1.5em;
}


.top-bar {
  background: #4E3C51;
}

.top-bar-section li:not(.has-form) a:not(.button), .top-bar-section .has-dropdown .not-click {
  background: #4E3C51;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: #4E3C51;
  color: #21A68D;
  border-bottom: 5px solid #21A68D;
  margin-bottom: -5px;
  z-index: 10;
}

.individual-link {
  background: #EDD5D1;
  padding: 15px;
  width: 300px;
  display: inline-block;
  word-wrap: break-word;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  margin-bottom: 15px;
  line-height: 1.5em;
  float: left;
}
