html h1, h2, h3, h4, h5, h6, p {
  color: #000;
}

body {
  font-family: "Lato", "HelveticaNeue", Helvetica, sans-serif;
/*  background: #EBE3E0;*/
  background-image: url('../img/bg1.jpg');
  background-position: center;
  height: 100%;
}

.container {
  margin-top: 50px;
  min-height:100%;
  position:relative;
}

.rowbody {
/*  padding: 10px;*/
  padding-bottom: 60px;
}

.alert-box {
  width: 83%;
  margin: 0 auto;
}

.footer-image {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
}

.footer-image img {
  width: 100%;
}

.login-row {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  margin-top: -30px;
}

.login-content h1, h2, h3, h4, h5, p {
  color: #FFF;
  font-family: "Lato", "HelveticaNeue", Helvetica, sans-serif;
}

.landing {
  background-image: url('../img/catbg.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
  background-attachment: fixed;
}

.landing-main {
  margin: 0 auto;
  width: 47%;
  text-align: center;
  margin-top: 100px;
}

.message, .link, .sent-from {
  display: block;
}

.link a {
  color: #65aea7;
  text-decoration: underline;
}

.usernames {
  display: block;
  padding: 5px;
  color: #FFF;
  font-size: 1.5em;
}


.top-bar {
  background: #65aea7;
  height: 49px;
}

.top-bar-section li:not(.has-form) a:not(.button), .top-bar-section .has-dropdown .not-click {
  background: #65aea7;
  font-size: 1em;
  font-family: "Lato", "HelveticaNeue", Helvetica, sans-serif;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: #65aea7;
  border-bottom: 4px solid #FFF;
  margin-bottom: -5px;
  z-index: 10;
}

.top-bar-section ul li:hover:not(.has-form)>a {
  background: #65aea7;
}

.top-bar-section ul {
  background: transparent;
}

.top-bar .name h1 a {
  font-size: 1.5em;
  font-family: "Lato", "HelveticaNeue", Helvetica, sans-serif;
}

.individual-card {
  background: #383127;
  background-image: url('../img/linkbg.jpg');
  color: #E4DBBF;
  padding: 15px;
  width: 300px;
  display: inline-block;
  word-wrap: break-word;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  margin-bottom: 15px;
  line-height: 1.5em;
  float: left;
}

.button {
  border: 2px solid white;
  border-radius: 15px;
  background: transparent;
  font-family: "Lato", "HelveticaNeue", Helvetica, sans-serif;
  font-weight: bold;
  width: auto;
  padding: 10px;
}

.mark-all-button {
  display: inline-block;
  margin-top: 25px;
}

.overall {
  background-image: url('../img/linkbg.jpg');
  border: none;
}

.overall:hover {
  background: #FFF;
}

.button:hover {
  background-color: #FFF;
  color: #333;
}


.bold {
  font-size: 1.4375rem;
}

.profile-section {
  margin-bottom: 20px;
}

.right-hand {
  float: left;
  display: inline-block;
}

.right-button {
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px 15px 20px 15px;
}
